<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card text-center  shadow" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Sistema EOS </h5>
          <p class="card-text">restablecer credenciales de usuario EOS.</p>
          <button class="btn btn-block btn-emergia btn-warning" (click)="irEOS()">IR</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-center shadow" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Sistema Directorio Activo</h5>
          <p class="card-text">restablecer credenciales de usuario de red.</p>
          <button class="btn btn-block btn-emergia btn-warning"(click)="irAD()">IR</button>
        </div>
      </div>
    </div>
  </div>
</div>
